<% if player.abstain? || player.score %>
  <div class="card-backface"></div>
  <div class="card revealed <%= random_suit %>">
    <p>
      <% if player.abstain? %>
        ?
      <% else %>
        <%= player.score %>
      <% end %>
    </p>
  </div>
<% else %>
  <div class='card hidden'></div>
<% end %>


