.card {
    width: 106px;
    height: 142px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);

    &.hidden {
      &.voted {
         background: white;
         background-image: url(card-backface.svg);
         background-size: 80px;
         background-repeat: no-repeat;
         background-position: center;
       }
    }

    &.revealed {
       background: white;
       background-size: 90px;
       background-repeat: no-repeat;
       background-position: center;
       transform: rotate3d(0,1,0,270deg);
       animation: card-reveal 200ms linear forwards 200ms;

       &.clubs {
         color: black;
         background-image: url(card-face-clubs.svg);
       }

       &.diamonds {
         color: red;
         background-image: url(card-face-diamonds.svg);
       }

       &.hearts {
         color: red;
         background-image: url(card-face-hearts.svg);
       }

       &.spades {
         color: black;
         background-image: url(card-face-spades.svg);
       }
    }

    p {
      font-size: 1.5rem;
    }
}

#players .card-backface {
  content: '';
  background: white;
  background-image: url(card-backface.svg);
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  width: 106px;
  height: 142px;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  animation: card-hide 200ms forwards;
}

input[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    background: lightgray;
    border: 1px solid transparent;

    &:checked {
        position: relative;

        &::before {
            content: '';
            width: 10px;
            height: 10px;
            background: rgb(7, 33, 33);
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 3px;
         }
    }
}

form:has(input[type=checkbox]:checked) {
    #cards {
        opacity: 0.5;

        &:hover {
            cursor: not-allowed;
        }

         input, label {
             cursor: not-allowed;
             pointer-events: none;
         }
    }
}

label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

label:hover::before {
  content: attr(data-info);
  background: blue;
  padding: 1rem;
  position: absolute;
  bottom: 4rem;
  color: rgb(238, 251, 251);
  font-size: 0.6rem;
  width: 200px;
  border-radius: 0.4rem;
  background: rgb(126, 155, 155);
  border: 2px solid rgb(7, 33, 33);
  z-index: 1;
}

input[type=radio] {
    appearance: none;

    &+label {
        display: block;
        background: white;
       background-size: 45px;
       background-repeat: no-repeat;
       background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 100ms ease-out;

        &.clubs {
           color: black;
           background-image: url(card-face-clubs.svg);
         }

        &.diamonds {
           color: red;
           background-image: url(card-face-diamonds.svg);
         }

        &.hearts {
           color: red;
           background-image: url(card-face-hearts.svg);
         }

        &.spades {
           color: black;
           background-image: url(card-face-spades.svg);
         }
    }

    &:checked + label {
         transform: translateY(-1rem) scale(1.2);
    }
}

#cards {
  display: flex;
  justify-content: center;
  margin: 1rem;
  position: relative;

  .card {
    width: 53px;
    height: 74px;
  }
}

@keyframes card-hide {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}

@keyframes card-reveal {
  from {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}
